<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add User </mat-card-title>

      <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>

        <div class="md-errors-spacer" [hidden]="this.error">
            <div  *ngIf="this.error">
                {{error}}
            </div>
        </div>

      <form [formGroup]="form" (ngSubmit)="submit()" class="form">
        <p>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Full Name</mat-label>
            <input
              type="text"
              matInput
              placeholder="FullName"
              formControlName="fullName"
              required="true"
            />
            <mat-icon matSuffix>people</mat-icon>
            <!-- <mat-hint>FullName</mat-hint> -->
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Username</mat-label>
            <input
              type="text"
              matInput
              placeholder="Username"
              formControlName="username"
              required="true"
            />
            <mat-icon matSuffix>people</mat-icon>
            <!-- <mat-hint>Username</mat-hint> -->
          </mat-form-field>
        </p>

          <p>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              placeholder="Email"
              formControlName="email"
              required="true"
             
            />
            <mat-icon matSuffix>email</mat-icon>

            <!-- <mat-hint>Username</mat-hint> -->
          </mat-form-field>
        </p>


        <p>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              autocomplete="false"
              formControlName="password"
              required="true"
            />
            <mat-icon matSuffix>password</mat-icon>
            <!-- <mat-hint>Username</mat-hint> -->
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select 
              matInput 
              formControlName="status"
              required="true"
            >
              
              <mat-option
                *ngFor="let option of userStatus"
                [value]="option.value"
              >
                {{ option.viewValue }}
              </mat-option>

              <!-- @for (status of userStatus; track status) {
                <mat-option [value]="status.value">{{status.viewValue}}</mat-option>
                } -->
            </mat-select>
          </mat-form-field>
        </p>


         <p>
          <mat-form-field>
            <mat-label>Role</mat-label>

            <mat-select
             matInput 
              formControlName="role"
              required="true"
              >
              <mat-option
                *ngFor="let option of userRole"
                [value]="option.value"
              >
                {{ option.viewValue }}
              </mat-option>

              <!-- @for (status of userStatus; track status) {
                <mat-option [value]="status.value">{{status.viewValue}}</mat-option>
                } -->
            </mat-select>
          </mat-form-field>
        </p>


        <p *ngIf="error" class="error">
          {{ error }}
        </p>
      
        <footer>
          <button type="button" mat-button mat-raised-button (click)="cancel()">
            <mat-icon matSuffix>cancel</mat-icon> Cancel
          </button>
          <span class="primary-btns">
            <button type="submit" mat-button mat-raised-button color="primary"  [disabled]="!this.form.valid" >
              <mat-icon matSuffix>save</mat-icon> Save
            </button>
          </span>
        </footer>
      </form>
    </mat-card-content>
  </mat-card>
</div>
