@import '@angular/material/prebuilt-themes/indigo-pink.css';


/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
} */


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

/* 
h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

.mat-table {
  height: calc( 100vh - 250px);
  overflow: auto; 
  width: 100%;
} */
