mat-sidenav {
  flex: 0 1 auto;
  /* padding-top: 3.5rem; */
  transition: width 0.3s ease;


  @media screen and (min-width: 600px) {
    /* padding-top: 4rem; */
  }


}


.expanded {
  min-width: 200px;

}